# Database docker volume
db

# Ignore wordpress installation files except the "countdown" plugin
wordpress
!wordpress/wp-content/plugins/countdown

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
